<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Jungle by Chrome and Mona</title>
  <meta name="description" content="TicTacToe game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
  <!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>

<body ng-cloak>
  <div id="gameArea">
    <div ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7, 8]" style="position:absolute; top:{{row * 11}}%; left:0; width:100%; height:11%;">
      <div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6]" style="position:absolute; top:0; left:{{col * 14}}%; width:14%; height:100%;"
        ng-class="{grass: game.isGrass(row, col), water: game.isWater(row, col),
                   btrap: game.isBTrap(row, col), rtrap: game.isRTrap(row, col),
                   bhome: game.isBHome(row, col), rhome: game.isRHome(row, col)}" ng-click="game.cellClickedOne(row, col); game.cellClickedTwo(row, col);"
        id="{{'e2e_test_div_' + row + 'x' + col}}">
        <div class="cell" ng-class="{slowlyAppear: game.shouldSlowlyAppear(row, col), possible: game.isPossibleMove(row, col)}" ng-style="game.getCellStyle(row, col)"
          ng-if="game.shouldShowImage(row, col)">
          <img ng-if="game.checkAnimal(row, col)" ng-class="{selected: game.changeSelectCSS(row, col), disabled: game.isOpponent(row, col)}"
            ng-src="{{ game.checkAnimal(row, col) }}" alt="{{ game.checkAnimal(row, col) }}" width="90%" height="90%">
        </div>
      </div>
    </div>
  </div>
  <!--<div style="text-align: center; color: gray">Claim: Icon made by <a href="http://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> and <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> with minor modifications. </div>-->


<!--like button-->
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>


<h1 id="fb-welcome"></h1>


<!--fb script-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '434385916898600',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  // Place following code after FB.init call.

function onLogin(response) {
  if (response.status == 'connected') {
    FB.api('/me?fields=first_name', function(data) {
      var welcomeBlock = document.getElementById('fb-welcome');
      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
    });
  }
}

FB.getLoginStatus(function(response) {
  // Check login status on load, and if the user is
  // already logged in, go directly to the welcome message.
  if (response.status == 'connected') {
    onLogin(response);
  } else {
    // Otherwise, show Login dialog first.
    FB.login(function(response) {
      onLogin(response);
    }, {scope: 'user_friends, email'});
  }
});


  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


</body>


</html>